/* Frontend styles */
@use '../styles/_color';

.mold-plot-map {
    width: 100%;
    background-color: var(--bgColor);
    position: relative;

    &.plot-type-world-map,
    &.plot-type-world-map-svg {
        aspect-ratio: 1192 / 610;
    }

    &.plot-type-image {
        aspect-ratio: var(--plotAspectRatio, 1192 / 610);
    }

    &.plot-type-image,
    &.plot-type-world-map {
        background-image: var(--bgImage);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    &.plot-type-world-map-svg {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--mapColor);

            mask-image: var(--bgImage);
            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;

            -webkit-mask-image: var(--bgImage);
            -webkit-mask-size: cover;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;

            pointer-events: none;
        }
    }

    &.tooltip-show-on-hover {
        .plot-item-info {
            opacity: 0;
        }

        .plot-item-image:hover {
            .plot-item-info {
                opacity: 1;
            }
        }
    }

    &.tooltip-rotate {
        .plot-item-info {
            opacity: 0;
        }

        .plot-item-image:hover,
        .plot-item.active {
            .plot-item-info {
                opacity: 1;
            }
        }
    }
}