/* Frontend styles */
@use '../styles/_color';

.mold-plot-map{
    aspect-ratio: 1192/610;
    background: var(--bgColor);
    background-image: var(--bgImage);
    background-size: cover;
    background-position: center;
    position: relative;
}